// Animation
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@include keyframes(loaded) {
  from {
    @include translate(0, -4rem);
    @include opacity(0);
    visibility: hidden;
  }
  to {
    @include translate(0, 0);
    @include opacity(1);
    visibility: visible;
  }
}

.not-loaded {
  @include opacity(0);
  visibility: hidden;
}

.loaded {
  @include animation('loaded 1s');
}
