/*---------- SPACING ----------*/

/*Padding*/

.p0 {
  padding: 0 !important;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.p3 {
  padding: 3rem;
}

.p4 {
  padding: 4rem;
}

.p5 {
  padding: 5rem;
}

.p6 {
  padding: 6rem;
}

/**@todo add padding-top, padding-bottom, padding-left, padding-righ**/

/*Margin*/

.m0 {
  margin: 0 !important;
}

.m1 {
  margin: 1rem;
}

.m2 {
  margin: 2rem;
}

.m3 {
  margin: 3rem;
}

.m4 {
  margin: 4rem;
}

.m5 {
  margin: 5rem;
}

.m6 {
  margin: 6rem;
}

/**@todo add margin-top, margin-bottom, margin-left, margin-righ**/