<div class="loyalty__container">
  <p>Available BBQN Loyalty Points</p>
  <span class="user-rewards align-center">
    <img alt="" class="user-rewards--image" src="../../../assets/images/Image 2@2x.png">
    <span class="user-rewards--points">
      1023
    </span>
  </span>
  <div class="points">
    <div class="points--earned">
      <span class="user-rewards align-center">
        <img alt="" class="user-rewards--image" src="../../../assets/images/bbq.svg">
        <span class="user-rewards--points">
          1023
        </span>
      </span>
      Points Earned
    </div>
    <div class="points--spent">
      <span class="user-rewards align-center">
        <img alt="" class="user-rewards--image" src="../../../assets/images/bbq.svg">
        <span class="user-rewards--points">
          1023
        </span>
      </span>
      Points Earned
    </div>
  </div>
</div>
<h4>ACTIVE BBQN POINTS</h4>
<div class="table-responsive">
  <table class="transcation-table">
    <thead>
      <tr>
        <th>TRANSACTION</th>
        <th>EARNED</th>
        <th>SPENT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lunch at Indiranagar on 01 Sep, 01:00pm</td>
        <td>+ 350</td>
        <td>-1000</td>
      </tr>
      <tr>
        <td>Lunch at Indiranagar on 01 Sep, 01:00pm</td>
        <td>+ 350</td>
        <td>-1000</td>
      </tr>
      <tr>
        <td>Lunch at Indiranagar on 01 Sep, 01:00pm</td>
        <td>+ 350</td>
        <td>-1000</td>
      </tr>
      <tr>
        <td>Lunch at Indiranagar on 01 Sep, 01:00pm</td>
        <td>+ 350</td>
        <td>-1000</td>
      </tr>
      <tr>
        <td>Lunch at Indiranagar on 01 Sep, 01:00pm</td>
        <td>+ 350</td>
        <td>-1000</td>
      </tr>
      <tr>
        <td>Lunch at Indiranagar on 01 Sep, 01:00pm</td>
        <td>+ 350</td>
        <td>-1000</td>
      </tr>
    </tbody>
  </table>
</div>
