<div class="paragraph__accordion-block">
    <div class="layout-container">
        {% if title != NULL %}
            <div class="paragraph__title">
                {{ title }}
            </div>
        {% endif %}
        {% if subtitle %}
            <div class="paragraph__subtitle">
                {{ subtitle }}
            </div>
        {% endif %}
        <div class="paragraph__accordion-section">
            {% embed "../modules/p_accordion_panel.twig" %}
                {% set accordionHeading = 'I entered the wrong CVV, why did my transaction still go through?' %}
                {% set accordionBody = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
            {% endembed %}
        </div>
    </div>
</div>
