<div class="paragraph__gallery-block">
    <div class="layout-container">
        <div class="paragraph__gallery-slider">
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/Mask Group 4.jpg" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/Mask Group 5.jpg" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/Background.png" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/5751d06d612fb.image@2x.png" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/65666371084barbequenationkhar@2x.png" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/Mask Group 4.jpg" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/Mask Group 5.jpg" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/Background.png" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/5751d06d612fb.image@2x.png" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/65666371084barbequenationkhar@2x.png" alt="">
            </div>
        </div>
        <div class="paragraph__gallery-nav">
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/Mask Group 4.jpg" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/Mask Group 5.jpg" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/Background.png" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/5751d06d612fb.image@2x.png" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/65666371084barbequenationkhar@2x.png" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/Mask Group 4.jpg" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/Mask Group 5.jpg" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/Background.png" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/5751d06d612fb.image@2x.png" alt="">
            </div>
            <div class="paragraph__gallery-image">
                <img src="../../assets/images/65666371084barbequenationkhar@2x.png" alt="">
            </div>
        </div>
    </div>
</div>
