<div class="paragraph__grid-card--block">
    <div class="layout-container">
        {% if secTitle != NULL %}
            <div class="paragraph__title">
                {{ secTitle }}
            </div>
        {% endif %}
        {% if secSubtitle != NULL %}
            <div class="paragraph__subtitle">
                {{ secSubtitle }}
            </div>
        {% endif %}
        <div class="paragraph__grid-section row">
            {% embed "../modules/p_simple_content.twig" %}
                {% set subtitle = 'Lorem ipsum dolor sit' %}
                {% set content = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
                {% set ctaURL = 'index.html' %}
                {% set ctaText = 'Read More' %}
            {% endembed %}
            {% embed "../modules/p_simple_content.twig" %}
                {% set subtitle = 'Lorem ipsum dolor sit' %}
                {% set content = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
                {% set ctaURL = 'index.html' %}
                {% set ctaText = 'Read More' %}
            {% endembed %}
            {% embed "../modules/p_simple_content.twig" %}
                {% set subtitle = 'Lorem ipsum dolor sit' %}
                {% set content = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
                {% set ctaURL = 'index.html' %}
                {% set ctaText = 'Read More' %}
            {% endembed %}
            {% embed "../modules/p_simple_content.twig" %}
                {% set subtitle = 'Lorem ipsum dolor sit' %}
                {% set content = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
                {% set ctaURL = 'index.html' %}
                {% set ctaText = 'Read More' %}
            {% endembed %}
            {% embed "../modules/p_simple_content.twig" %}
                {% set subtitle = 'Lorem ipsum dolor sit' %}
                {% set content = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
                {% set ctaURL = 'index.html' %}
                {% set ctaText = 'Read More' %}
            {% endembed %}
            {% embed "../modules/p_simple_content.twig" %}
                {% set subtitle = 'Lorem ipsum dolor sit' %}
                {% set content = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
                {% set ctaURL = 'index.html' %}
                {% set ctaText = 'Read More' %}
            {% endembed %}
        </div>
    </div>
</div>
