<div class="paragraph__stack-card--block">
    <div class="layout-container">
        {% if title != NULL %}
            <div class="paragraph__title">
                {{ title }}
            </div>
        {% endif %}
        {% if subtitle != NULL %}
            <div class="paragraph__subtitle">
                {{ subtitle }}
            </div>
        {% endif %}
        <div class="paragraph__stack-section row space-between">
            {% embed "../modules/p_stack_card.twig" %}
                {% set imgURL = '../../assets/images/5751d06d612fb.image.png' %}
                {% set stackTitle = 'Lorem ipsum dolor sit' %}
                {% set stackContent = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
            {% endembed %}
            {% embed "../modules/p_stack_card.twig" %}
                {% set imgURL = '../../assets/images/5751d06d612fb.image.png' %}
                {% set stackTitle = 'Lorem ipsum dolor sit' %}
                {% set stackContent = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
            {% endembed %}
            {% embed "../modules/p_stack_card.twig" %}
                {% set imgURL = '../../assets/images/5751d06d612fb.image.png' %}
                {% set stackTitle = 'Lorem ipsum dolor sit' %}
                {% set stackContent = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
            {% endembed %}
            {% embed "../modules/p_stack_card.twig" %}
                {% set imgURL = '../../assets/images/5751d06d612fb.image.png' %}
                {% set stackTitle = 'Lorem ipsum dolor sit' %}
                {% set stackContent = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
            {% endembed %}
        </div>
    </div>
    <div class="layout-container">
        {% if title != NULL %}
            <div class="paragraph__title">
                {{ title }}
            </div>
        {% endif %}
        {% if subtitle != NULL %}
            <div class="paragraph__subtitle">
                {{ subtitle }}
            </div>
        {% endif %}
        <div class="paragraph__stack-section row space-between">
            {% embed "../modules/p_stack_card.twig" %}
                {% set stackSize = 'stack-lg' %}
                {% set imgURL = '../../assets/images/5751d06d612fb.image.png' %}
                {% set stackTitle = 'Lorem ipsum dolor sit' %}
                {% set stackContent = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
                {% set ctaURL = 'index.html' %}
                {% set ctaText = 'Know More' %}
            {% endembed %}
            {% embed "../modules/p_stack_card.twig" %}
                {% set stackSize = 'stack-lg' %}
                {% set imgURL = '../../assets/images/5751d06d612fb.image.png' %}
                {% set stackTitle = 'Lorem ipsum dolor sit' %}
                {% set stackContent = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
                {% set ctaURL = 'index.html' %}
                {% set ctaText = 'Know More' %}
            {% endembed %}
            {% embed "../modules/p_stack_card.twig" %}
                {% set stackSize = 'stack-lg' %}
                {% set imgURL = '../../assets/images/5751d06d612fb.image.png' %}
                {% set stackTitle = 'Lorem ipsum dolor sit' %}
                {% set stackContent = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
                {% set ctaURL = 'index.html' %}
                {% set ctaText = 'Know More' %}
            {% endembed %}
            {% embed "../modules/p_stack_card.twig" %}
                {% set stackSize = 'stack-lg' %}
                {% set imgURL = '../../assets/images/5751d06d612fb.image.png' %}
                {% set stackTitle = 'Lorem ipsum dolor sit' %}
                {% set stackContent = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
                {% set ctaURL = 'index.html' %}
                {% set ctaText = 'Know More' %}
            {% endembed %}
        </div>
    </div>
</div>
