<div class="paragraph__testimonial-card">
    <div class="paragraph__testimonial-card--image">
        <img src="{{ clientImage }}" alt="">
    </div>
    <div class="paragraph__testimonial-card--content">
        {{ clientMessage }}
    </div>
    <div class="paragraph__testimonial-card--name">
        {{ clientName }}
    </div>
    <div class="paragraph__testimonial-card--designation">
        {{ clientDesignation }}
    </div>
</div>
