<div class="paragraph__timeline-block">
    <div class="layout-container">
        <div class="paragraph__title">
            {{ title }}
        </div>
        <div class="paragraph__subtitle">
            {{ subtitle }}
        </div>
        <div class="paragraph__timeline-section">
            <div class="paragraph__timeline-year">
                {{ year }}
            </div>
            {% embed "../modules/p_timeline_card.twig" %}
                {% set date = '27 Aug, 2019' %}
                {% set content = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
                {% set ctaURL = 'index.html' %}
                {% set ctaText = 'Download' %}
            {% endembed %}
            {% embed "../modules/p_timeline_card.twig" %}
                {% set date = '27 Aug, 2019' %}
                {% set content = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
                {% set ctaURL = 'index.html' %}
                {% set ctaText = 'Download' %}
            {% endembed %}
        </div>
        <div class="paragraph__timeline-section">
            <div class="paragraph__timeline-year">
                {{ year }}
            </div>
            {% embed "../modules/p_timeline_card.twig" %}
                {% set date = '27 Aug, 2019' %}
                {% set content = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
                {% set ctaURL = 'index.html' %}
                {% set ctaText = 'Download' %}
            {% endembed %}
            {% embed "../modules/p_timeline_card.twig" %}
                {% set date = '27 Aug, 2019' %}
                {% set content = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
                {% set ctaURL = 'index.html' %}
                {% set ctaText = 'Download' %}
            {% endembed %}
        </div>
    </div>
</div>
