<div class="paragraph__timeline-card row align-center space-between">
    <div class="paragraph__timeline-icon"></div>
    <div class="paragraph__timeline-details">
        <div class="paragraph__date">
            {{ date }}
        </div>
        <div class="paragraph__content">
            {{ content }}
        </div>
    </div>
    <div class="paragraph__cta">
        <a href="{{ ctaURL }}" role="button">
            {{ ctaText }}
        </a>
    </div>
</div>
