<div class="banner-block row align-center">
    {% embed "../modules/banner_slider.twig" %}
        {% set bannerText = 'Let us serve you better' %}
        {% set image1 = '../../../assets/images/Background.png' %}
        {% set image2 = '../../../assets/images/Mask Group 4.jpg' %}
        {# {% set image3 = '../../../assets/images/Mask Group 5.jpg' %} #}
    {% endembed %}
</div>
