<div class="cart__block">
  <div class="cart__heading">
    <h3 class="title">My Cart (3 Items)</h3>
    <a href="#" class="close"></a>
  </div>
  <div class="cart__items">
    <div class="cart__item">
      <img src="../assets/images/v1.png" alt="V1">
      <div class="cart__item__title">
        <h5>Meal for four</h5>
        <span>&#8377;650</span>
      </div>
      <div class="cart__item__form-wrap">
        <form class="form form--cart">
          <div class="value-button" class="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
          <input type="text" class="number" value="0" readonly/>
          <div class="value-button" class="increase" onclick="increaseValue()" value="Increase Value">+</div>
        </form>
      </div>
      <div class="cart__item__total">
        &#8377;1300
      </div>
    </div>
    <div class="cart__item">
      <img src="../assets/images/v1.png" alt="V1">
      <div class="cart__item__title">
        <h5>Meal for four</h5>
        <span>&#8377;650</span>
      </div>
      <div class="cart__item__form-wrap">
        <form class="form form--cart">
          <div class="value-button" class="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
          <input type="text" class="number" value="0" readonly/>
          <div class="value-button" class="increase" onclick="increaseValue()" value="Increase Value">+</div>
        </form>
      </div>
      <div class="cart__item__total">
        &#8377;1300
      </div>
    </div>
    <div class="cart__item">
      <img src="../assets/images/v1.png" alt="V1">
      <div class="cart__item__title">
        <h5>Meal for four</h5>
        <span>&#8377;650</span>
      </div>
      <div class="cart__item__form-wrap">
        <form class="form form--cart">
          <div class="value-button" class="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
          <input type="text" class="number" value="0" readonly/>
          <div class="value-button" class="increase" onclick="increaseValue()" value="Increase Value">+</div>
        </form>
      </div>
      <div class="cart__item__total">
        &#8377;1300
      </div>
    </div>
  </div>
  <div class="cart__sub-total">
    <div class="subtotal">
      <h5>Sub Total</h5>
      <span>&#8377;2100</span>
    </div>
    <div class="gst">
      <h5>GST</h5>
      <span>&#8377;2100</span>
    </div>
  </div>
  <div class="cart__discount">
    <div class="left">
      <div class="heading">
        <h5>BBQN Points</h5>
        <a href="#" class="remove-link">Remove</a>
      </div>
      <span>120 BBQN Points applicable for this transaction</span>
      <a href="#">*T&Cs applicable</a>
    </div>
    <div class="right">
      - &#8377;120
    </div>
  </div>
  <div class="cart__total">
    <h5>Total</h5>
    <span>&#8377;2190</span>
  </div>
  <div class="cart__tnc">
    *estimated prices and subject to change. all prices in INR
    <br><a href="#">Read More</a>
  </div>
  <button class="button button--submit">PROCEED TO CHECKOUT</button>
</div>
