<div class="events">
  <div class="layout-container">
    <div class="layout--header row space-between align-end">
      <div class="layout--header-title">
        What’s on BBQN
      </div>
      <div class="layout--header-link">
        <a class="row align-center" href="" title="">
          View all
          <span class="viewMore"></span>
        </a>
      </div>
    </div>
    <div class="events-carousel">
      <div>
        {% embed "../modules/event-card.twig" %}
          {% set title = 'Enjoy 20% off on the any Buffet' %}
          {% set location = 'Koramangala, Bangalore' %}
          {% set schedule = '25 Aug, 9:00pm' %}
          {% set description = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor. invidunt ut labore et.' %}
          {% set ctaText = 'More info' %}
          {% set image = '../assets/images/c700x420.png' %}
        {% endembed %}
      </div>
      <div>
        {% embed "../modules/event-card.twig" %}
          {% set title = 'Enjoy 20% off on the any Buffet' %}
          {% set location = 'Koramangala, Bangalore' %}
          {% set schedule = '25 Aug, 9:00pm' %}
          {% set description = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor. invidunt ut labore et.' %}
          {% set ctaText = 'More info' %}
          {% set image = '../assets/images/c700x420.png' %}
        {% endembed %}
      </div>
      <div>
        {% embed "../modules/event-card.twig" %}
          {% set title = 'Enjoy 20% off on the any Buffet' %}
          {% set location = 'Koramangala, Bangalore' %}
          {% set schedule = '25 Aug, 9:00pm' %}
          {% set description = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor. invidunt ut labore et.' %}
          {% set ctaText = 'More info' %}
          {% set image = '../assets/images/c700x420.png' %}
        {% endembed %}
      </div>
      <div>
        {% embed "../modules/event-card.twig" %}
          {% set title = 'Enjoy 20% off on the any Buffet' %}
          {% set location = 'Koramangala, Bangalore' %}
          {% set schedule = '25 Aug, 9:00pm' %}
          {% set description = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor. invidunt ut labore et.' %}
          {% set ctaText = 'More info' %}
          {% set image = '../assets/images/c700x420.png' %}
        {% endembed %}
      </div>
      <div>
        {% embed "../modules/event-card.twig" %}
          {% set title = 'Enjoy 20% off on the any Buffet' %}
          {% set location = 'Koramangala, Bangalore' %}
          {% set schedule = '25 Aug, 9:00pm' %}
          {% set description = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor. invidunt ut labore et.' %}
          {% set ctaText = 'More info' %}
          {% set image = '../assets/images/c700x420.png' %}
        {% endembed %}
      </div>
    </div>
  </div>
</div>
