<div class="row align-center space-between">
    <div class="header-left row align-center">
        {% include "mainLogo.twig" %}
        {% include "location.twig" %}
    </div>
    <div class="header-center row align-center">
        {% include "menu.twig" %}
    </div>
    <div class="header-right row align-center">
        {% include "userNav.twig" %}
        {% include "notifications.twig" %}
        {% include "show_cart.twig" %}
        {% include "nav.twig" %}
    </div>
</div>
