<div class="location--block">
    <div class="location row align-center">
        <img src="../assets/images/placeholder.svg" alt="" class="location-pin">
        <span class="location--text">
            Koramangala, Bangalore
        </span>
        <img src="../assets/images/down-arrow (1).svg" alt="" class="arrow-down">
    </div>
    <div class="location--dropdown">
        <div class="input--select-custom">
            <select class="location--select js-states form-control">
                <optgroup label="Bangalore">
                    <option value="0">Select location</option>
                    <option value="1">Koramangala</option>
                    <option value="2">Residency Road</option>
                    <option value="3">Electronic City</option>
                    <option value="4">HSR Layout</option>
                    <option value="5">Indiranagar</option>
                    <option value="6">Kalyannagar</option>
                    <option value="7">Malleshwaram</option>
                </optgroup>
            </select>
        </div>
        <div class="location-card row">
            <div class="location-nearby--icon"></div>
            <div class="location-nearby--content">
                <p>Near By Location</p>
                <span>Using GPS</span>
            </div>
        </div>
        <div class="location--dropdown-title">
            Saved Locations
        </div>
        <div class="location-card">
            <div class="location-nearby--content">
                <p>Barbeque Nation - Electronic City</p>
                <span>Doddathoguru, Bengaluru, Karnataka</span>
                <span>080 6480 6060</span>
            </div>
        </div>
    </div>
</div>
