<ul class="row menu menu--main" role="navigation" aria-label="Site main navigationn">
  <li class="menu__item">
    <a href="#" class="menu__link">Gift a voucher</a>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link">What's on BBQN</a>
  </li>
</ul>
