<div class="menu-wrap">
    <div class="menu-wrap--container row space-between">
        <div class="menu-wrap--header row align-center space-between">
            <div class="menu-logo">
                <a href="index.html">
                    <img src="../assets/images/bbqn-logo.svg" alt="">
                </a>
            </div>
            <div class="menu-close">
                <a href="#" role="button" class="menu-wrap--close"></a>
            </div>
            <div class="menu__user row align-center">
                <div class="menu__user-image">
                    <img src="../../assets/images/pexels-photo-220453@2x.png" alt="">
                </div>
                <div class="menu__user-details">
                    <div class="menu__user-name">
                        Leo Mechile
                    </div>
                    <div class="menu__user-points">
                        <a href="" role="button">
                            1023
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-wrap--list">
            <ul class="main-nav">
                <li class="active">
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Our story</a>
                </li>
                <li>
                    <a href="">Locations</a>
                </li>
                <li>
                    <a href="">Events</a>
                </li>
                <li>
                    <a href="">News</a>
                </li>
                <li>
                    <a href="">Offers</a>
                </li>
                <li>
                    <a href="">Gift voucher</a>
                </li>
                <li>
                    <a href="">Menu</a>
                </li>
                <li>
                    <a href="">Gallery</a>
                </li>
                <li>
                    <a href="">Careers</a>
                </li>
                <li>
                    <a href="">Contact us</a>
                </li>
            </ul>
            <ul class="profile-nav">
                <li>
                    <a href="">My Profile</a>
                </li>
                <li>
                    <a href="">My Transactions</a>
                </li>
                <li>
                    <a href="">My Cart</a>
                </li>
                <li>
                    <a href="">BBQN Loyalty Points</a>
                </li>
                <li>
                    <a href="">My Vouchers &amp; Coupons</a>
                </li>
            </ul>
            <a href="" class="logout">Logout</a>
        </div>
        <div class="menu-wrap--footer">
            <ul class="row align-center justify-center">
                {# <li>
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <a href="#">Instagram</a>
                </li>
                <li>
                    <a href="#">Twitter</a>
                </li> #}
                <li>
                    <a href="#" class="facebook"></a>
                </li>
                <li>
                    <a href="#" class="instagram"></a>
                </li>
                <li>
                    <a href="#" class="twitter"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
