<a herf="#" role="button" class="notifications">
    <span class="notifications-count row align-center justify-center">6</span>
</a>
<div class="notifications-snackbar">
    <div class="row align-center">
        <a herf="#" class="notifications-close"></a>
        <div class="notifications-image"></div>
        <div class="notifications-content">
            <div class="notifications-title">
                Upcoming Reservation
            </div>
            <div class="notifications-text">
                Lorem ipsum dolot sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            </div>
        </div>
    </div>
</div>
