<div class="paragraph paragraph__accordion">
    {% embed "../modules/p_accordion_block.twig" %}
        {% set title = 'FAQs' %}
        {# {% set subtitle = 'Lorem ipsum dolor sit amet, consetetur' %} #}
    {% endembed %}
</div>