<div class="paragraph paragraph__clients">
    {% embed "../modules/p_client_block.twig" %}
        {% set title = 'Our Clients' %}
        {# {% set subtitle = 'Lorem ipsum dolor sit amet, consetetur' %} #}
    {% endembed %}
</div>
