<div class="paragraph paragraph__content-block">
    <div class="layout-container">
        {% embed "../modules/p_simple_content.twig" %}
            {% set title = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.' %}
            {# {% set subtitle = 'Lorem ipsum dolor sit amet, consetetur' %} #}
            {% set content = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
            {# {% set unorderedList = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed' %} #}
            {# {% set orderedList = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed' %} #}
            {% set imageURL = '../../assets/images/Mask Group 4.jpg' %}
            {# {% set ctaURL = 'index.html' %} #}
        {% set ctaText = 'More Info' %}
    {% endembed %}
</div></div>
