<div class="paragraph paragraph__grid-cards">
    {% embed "../modules/p_grid_card_block.twig" %}
        {% set secTitle = 'Lorem ipsum dolor sit' %}
        {% set secSubtitle = 'Lorem ipsum dolor sit amet, consetetur' %}
    {% endembed %}
</div>