<div class="paragraph paragraph__stack-block">
    {% embed "../modules/p_stack_block.twig" %}
        {% set title = 'Lorem ipsum dolor sit' %}
        {# {% set subtitle = 'Lorem ipsum dolor sit amet, consetetur' %} #}
    {% endembed %}
</div>
