<div class="paragraph paragraph__tabs">
    {% embed "../modules/p_tablist.twig" %}
        {% set title = 'Tab View' %}
        {# {% set subtitle = 'Lorem ipsum dolor sit amet, consetetur' %} #}
    {% endembed %}
</div>