<div class="paragraph paragraph__table">
    {% embed "../modules/p_table_block.twig" %}
        {% set title = 'Table View' %}
        {% set subtitle = 'Lorem ipsum dolor sit amet, consetetur' %}
    {% endembed %}
</div>