<div class="paragraph paragraph__testimonials">
    {% embed "../modules/p_testimonial_block.twig" %}
        {% set title = 'Testimonial' %}
        {% set subtitle = 'Lorem ipsum dolor sit amet, consetetur' %}
    {% endembed %}
</div>