<div class="paragraph paragraph__thumb-block">
    <div class="layout-container">
        {% embed "../modules/p_thumb_grid.twig" %}
            {% set title = 'Show your style and personalize your new home and with options and upgrades from Great Southern Homes.' %}
            {% set subtitle = 'Lorem ipsum dolor sit amet, consetetur' %}
            {% set imgURL = '../../assets/images/5751d06d612fb.image@2x.png' %}
            {% set thumbTitle = 'Lorem ipsum dolor sit amet, consetetur' %}
            {% set thumbContent = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.' %}
            {% set ctaURL = 'index.html' %}
            {% set ctaText = 'More Info' %}
        {% endembed %}
        {% embed "../modules/p_thumb_grid.twig" %}
            {% set imagePosition = 'right' %}
            {# Available option(s): right (default: NA) #}
            {% set imgURL = '../../assets/images/5751d06d612fb.image@2x.png' %}
            {% set thumbTitle = 'Lorem ipsum dolor sit amet, consetetur' %}
            {% set thumbContent = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.' %}
            {% set ctaURL = 'index.html' %}
            {% set ctaText = 'More Info' %}
        {% endembed %}
        {% embed "../modules/p_thumb_grid.twig" %}
            {% set imgURL = '../../assets/images/5751d06d612fb.image@2x.png' %}
            {% set thumbTitle = 'Lorem ipsum dolor sit amet, consetetur' %}
            {% set thumbContent = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.' %}
            {% set ctaURL = 'index.html' %}
            {% set ctaText = 'More Info' %}
        {% endembed %}
    </div>
</div>
