<div class="paragraph paragraph__timeline">
    {% embed "../modules/p_timeline_block.twig" %}
        {% set title = 'Timeline' %}
        {% set subtitle = 'Lorem ipsum dolor sit amet, consetetur' %}
        {% set year = '2019' %}
    {% endembed %}
</div>
