<section class="redeem layout-container">
  <h2>How to Redeem</h2>
  <div class="row space-between align-center">
    <div class="redeem-card">
      <div class="icon">
        <img src="../assets/images/click.svg" alt="Click">
      </div>
      <h3>1. Selection</h3>
      <p>Holisticly coordinate world-class experiences through transparent partnerships. Collaboratively.</p>
    </div>
    <div class="redeem-card">
      <div class="icon">
        <img src="../assets/images/wallet.svg" alt="Click">
      </div>
      <h3>2. Payment Mode</h3>
      <p>Holisticly coordinate world-class experiences through transparent partnerships. Collaboratively.</p>
    </div>
    <div class="redeem-card">
      <div class="icon">
        <img src="../assets/images/voucher.svg" alt="Click">
      </div>
      <h3>3. Voucher Details</h3>
      <p>Holisticly coordinate world-class experiences through transparent partnerships. Collaboratively.</p>
    </div>
    <div class="redeem-card">
      <div class="icon">
        <img src="../assets/images/credit-card.svg" alt="Click">
      </div>
      <h3>4. Make Payment</h3>
      <p>Holisticly coordinate world-class experiences through transparent partnerships. Collaboratively.</p>
    </div>
  </div>
  <div class="redeem__breaker">
    <span>Or</span>
  </div>
  <a href="#" class="redeem__link">You Can Redeem It From Outlet</a>
</section>
