<div class="menu__block">
  <ul class="menu__nav">
    <li class="menu__item">
      <a href="#" id="buffet-link" class="menu__link active">Buffet</a>
    </li>
    <li class="menu__item">
      <a href="#" id="a-la-carte-link" class="menu__link">A La Carte</a>
    </li>
    <li class="menu__item">
      <a href="#" id="beverages-link" class="menu__link">Beverages</a>
    </li>
  </ul>
  <div id="buffet" class="accordion">
    <div class="accordion-panel expanded">
      <div class="accordion-header">
        Starters
        <span class="item__count">2 Items</span>
      </div>
      <div class="accordion-body">
        <div class="menu__item__card">
          <div class="menu__item__image">
            <img src="../../assets/images/barbeque-nation-1.png" alt="">
          </div>
          <div class="menu__item__content">
            <div class="menu__item__title">
              <div class="menu__item__category nonveg"></div>
              <div class="menu__item__name">
                Spinach Soup
              </div>
              <div class="menu__item__type">
                <img src="../../assets/images/Untitled-1-08.svg" alt="">
              </div>
              <div class="menu__item__price">1300</div>
            </div>
            <div class="menu__item__details">
              Milk, eggs, spinach, garlic, onion, potato, chicken stock, lemon
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-panel">
      <div class="accordion-header">
        Starters
        <span class="item__count">2 Items</span>
      </div>
      <div class="accordion-body">
        <div class="menu__item__card">
          <div class="menu__item__image">
            <img src="../../assets/images/barbeque-nation-1.png" alt="">
          </div>
          <div class="menu__item__content">
            <div class="menu__item__title">
              <div class="menu__item__category veg"></div>
              <div class="menu__item__name">
                Spinach Soup
              </div>
              <div class="menu__item__type">
                Spicy
              </div>
              <div class="menu__item__price">1300</div>
            </div>
            <div class="menu__item__details">
              Milk, eggs, spinach, garlic, onion, potato, chicken stock, lemon
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-panel">
      <div class="accordion-header">
        Starters
        <span class="item__count">2 Items</span>
      </div>
      <div class="accordion-body">
        <div class="menu__item__card">
          <div class="menu__item__image">
            <img src="../../assets/images/barbeque-nation-1.png" alt="">
          </div>
          <div class="menu__item__content">
            <div class="menu__item__title">
              <div class="menu__item__category veg"></div>
              <div class="menu__item__name">
                Spinach Soup
              </div>
              <div class="menu__item__type">
                Spicy
              </div>
            </div>
            <div class="menu__item__details">
              Milk, eggs, spinach, garlic, onion, potato, chicken stock, lemon
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="a-la-carte" class="accordion">
    <div class="accordion-panel expanded">
      <div class="accordion-header">
        Starters
        <span class="item__count">2 Items</span>
      </div>
      <div class="accordion-body">
        <div class="menu__item__card">
          <div class="menu__item__image">
            <img src="../../assets/images/barbeque-nation-1.png" alt="">
          </div>
          <div class="menu__item__content">
            <div class="menu__item__title">
              <div class="menu__item__category nonveg"></div>
              <div class="menu__item__name">
                Spinach Soup
              </div>
              <div class="menu__item__type">
                <img src="../../assets/images/Untitled-1-08.svg" alt="">
              </div>
            </div>
            <div class="menu__item__details">
              Milk, eggs, spinach, garlic, onion, potato, chicken stock, lemon
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-panel">
      <div class="accordion-header">
        Starters
        <span class="item__count">2 Items</span>
      </div>
      <div class="accordion-body">
        <div class="menu__item__card">
          <div class="menu__item__image">
            <img src="../../assets/images/barbeque-nation-1.png" alt="">
          </div>
          <div class="menu__item__content">
            <div class="menu__item__title">
              <div class="menu__item__category veg"></div>
              <div class="menu__item__name">
                Spinach Soup
              </div>
              <div class="menu__item__type">
                Spicy
              </div>
            </div>
            <div class="menu__item__details">
              Milk, eggs, spinach, garlic, onion, potato, chicken stock, lemon
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-panel">
      <div class="accordion-header">
        Starters
        <span class="item__count">2 Items</span>
      </div>
      <div class="accordion-body">
        <div class="menu__item__card">
          <div class="menu__item__image">
            <img src="../../assets/images/barbeque-nation-1.png" alt="">
          </div>
          <div class="menu__item__content">
            <div class="menu__item__title">
              <div class="menu__item__category veg"></div>
              <div class="menu__item__name">
                Spinach Soup
              </div>
              <div class="menu__item__type">
                Spicy
              </div>
            </div>
            <div class="menu__item__details">
              Milk, eggs, spinach, garlic, onion, potato, chicken stock, lemon
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="beverages" class="accordion">
    <div class="accordion-panel expanded">
      <div class="accordion-header">
        Starters
        <span class="item__count">2 Items</span>
      </div>
      <div class="accordion-body">
        <div class="menu__item__card">
          <div class="menu__item__image">
            <img src="../../assets/images/barbeque-nation-1.png" alt="">
          </div>
          <div class="menu__item__content">
            <div class="menu__item__title">
              <div class="menu__item__category nonveg"></div>
              <div class="menu__item__name">
                Spinach Soup
              </div>
              <div class="menu__item__type">
                <img src="../../assets/images/Untitled-1-08.svg" alt="">
              </div>
            </div>
            <div class="menu__item__details">
              Milk, eggs, spinach, garlic, onion, potato, chicken stock, lemon
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-panel">
      <div class="accordion-header">
        Starters
        <span class="item__count">2 Items</span>
      </div>
      <div class="accordion-body">
        <div class="menu__item__card">
          <div class="menu__item__image">
            <img src="../../assets/images/barbeque-nation-1.png" alt="">
          </div>
          <div class="menu__item__content">
            <div class="menu__item__title">
              <div class="menu__item__category veg"></div>
              <div class="menu__item__name">
                Spinach Soup
              </div>
              <div class="menu__item__type">
                Spicy
              </div>
            </div>
            <div class="menu__item__details">
              Milk, eggs, spinach, garlic, onion, potato, chicken stock, lemon
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-panel">
      <div class="accordion-header">
        Starters
        <span class="item__count">2 Items</span>
      </div>
      <div class="accordion-body">
        <div class="menu__item__card">
          <div class="menu__item__image">
            <img src="../../assets/images/barbeque-nation-1.png" alt="">
          </div>
          <div class="menu__item__content">
            <div class="menu__item__title">
              <div class="menu__item__category veg"></div>
              <div class="menu__item__name">
                Spinach Soup
              </div>
              <div class="menu__item__type">
                Spicy
              </div>
            </div>
            <div class="menu__item__details">
              Milk, eggs, spinach, garlic, onion, potato, chicken stock, lemon
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
