<div id="price-filter" class="slider">
  <div id="price-range"></div>
  <input type="text" id="amount-min" name="Price" class="price-placeholder">
  <span>to</span>
  <input type="text" id="amount-max" name="Price" class="price-placeholder">
</div>
