<div class="updates--block">
  <div class="layout-container">
    <div class="layout--header row space-between align-end">
      <div class="layout--header-title">
        Latest Updates
      </div>
      <div class="layout--header-link">
        <a href="" title="" class="row align-center">
          View all
          <span class="viewMore"></span>
        </a>
      </div>
    </div>
    <div class="updates-carousel">
      <div>
        {% embed "../modules/updates-card.twig" %}
          {% set image = '../assets/images/BBQ Nation 20180808 (7)-min.png' %}
          {% set date = '25 July, 2019' %}
          {% set title = 'Bites of India' %}
          {% set description = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
          {% set linkURL = '' %}
          {% set linkText = 'Read More' %}
        {% endembed %}
      </div>
      <div>
        {% embed "../modules/updates-card.twig" %}
          {% set image = '../assets/images/bbqwordpress.png' %}
          {% set date = '27 Aug, 2018' %}
          {% set title = 'Bigger The Gang. Bigger The Perks' %}
          {% set description = 'Like to dine with your friends / family group? If yes here is a chance to avail an incredeable offer at your favourite restaurant in Pune.' %}
          {% set linkURL = '' %}
          {% set linkText = 'Read More' %}
        {% endembed %}
      </div>
      <div>
        {% embed "../modules/updates-card.twig" %}
          {% set image = '../assets/images/auran@2x.png' %}
          {% set date = '25 July, 2019' %}
          {% set title = 'Barbeque Nation Opens At Aurangabad Barbeque Nation Opens At Aurangabad' %}
          {% set description = 'BARBEQUE NATION has unveiled its first restaurant in Aurangabad, also known as ‘The City of Gates’. Spread over an area of 3500 square feet, the new ... restaurant ...is located at Prozone Mall, one of the largest malls in the city.' %}
          {% set linkURL = '' %}
          {% set linkText = 'Read More' %}
        {% endembed %}
      </div>
      <div>
        {% embed "../modules/updates-card.twig" %}
          {% set image = '../assets/images/BBQ Nation 20180808 (7)-min.png' %}
          {% set date = '25 July 2019' %}
          {% set title = 'Bites of India' %}
          {% set description = 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.' %}
          {% set linkURL = '' %}
          {% set linkText = 'Read More' %}
        {% endembed %}
      </div>
    </div>
  </div>
</div>
