<div class="user--block">
    <div class="user-nav row align-center">
        <div class="user row align-center">
            <span class="user-name">Leo Mechile</span>
            <img alt="" class="arrow-down" src="../../../assets/images/down-arrow (1).svg">
        </div>
        <div class="user--dropdown">
            <ul>
                <li class="active">
                    <a href="">My Profile</a>
                </li>
                <li>
                    <a href="">My Transactions</a>
                </li>
                <li>
                    <a href="">BBQN Loyalty Points</a>
                </li>
                <li>
                    <a href="">My Vouchers &amp; Coupons</a>
                </li>
            </ul>
            <a href="">Logout</a>
        </div>
        <img alt="" class="user-image" src="../../../assets/images/pexels-photo-220453.png">
        <div class="user-rewards row align-center">
            <img alt="" class="user-rewards--image" src="../../../assets/images/Image 2.png">
            <span class="user-rewards--points">
                1023
            </span>
        </div>
    </div>
</div>
