<div class="user-nav row align-center">
  <div class="user-nav__button">
    <button class="button button--text button--signin">Login</button>
  </div>
  <div class="user-nav__dialog" id="signin-dialog"></div>
</div>
