<div class="vouchers--block">
  <div class="layout-container">
    <div class="layout--header row space-between align-end">
      <div class="layout--header-title">
        Voucher for you
      </div>
      <div class="layout--header-link">
        <a class="row align-center" href="" title="">
          View all
          <span class="viewMore"></span>
        </a>
      </div>
    </div>
    <div class="vouchers-carousel">
      <div>
        {% embed "../modules/voucher.twig" %}
          {% set title = 'Meal for four' %}
          {% set price = '3200' %}
          {% set ctaText = 'Buy now' %}
          {% set image = '../assets/images/c700x420-5.png' %}
        {% endembed %}
      </div>
      <div>
        {% embed "../modules/voucher.twig" %}
          {% set title = 'Meal for four' %}
          {% set price = '3200' %}
          {% set ctaText = 'Buy now' %}
          {% set image = '../assets/images/c700x420-5.png' %}
        {% endembed %}
      </div>
      <div>
        {% embed "../modules/voucher.twig" %}
          {% set title = 'Meal for four' %}
          {% set price = '3200' %}
          {% set ctaText = 'Buy now' %}
          {% set image = '../assets/images/c700x420-5.png' %}
        {% endembed %}
      </div>
      <div>
        {% embed "../modules/voucher.twig" %}
          {% set title = 'Meal for four' %}
          {% set price = '3200' %}
          {% set ctaText = 'Buy now' %}
          {% set image = '../assets/images/c700x420-5.png' %}
        {% endembed %}
      </div>
      <div>
        {% embed "../modules/voucher.twig" %}
          {% set title = 'Meal for four' %}
          {% set price = '3200' %}
          {% set ctaText = 'Buy now' %}
          {% set image = '../assets/images/c700x420-5.png' %}
        {% endembed %}
      </div>
      <div>
        {% embed "../modules/voucher.twig" %}
          {% set title = 'Meal for four' %}
          {% set price = '3200' %}
          {% set ctaText = 'Buy now' %}
          {% set image = '../assets/images/c700x420-5.png' %}
        {% endembed %}
      </div>
      <div>
        {% embed "../modules/voucher.twig" %}
          {% set title = 'Meal for four' %}
          {% set price = '3200' %}
          {% set ctaText = 'Buy now' %}
          {% set image = '../assets/images/c700x420-5.png' %}
        {% endembed %}
      </div>
      <div>
        {% embed "../modules/voucher.twig" %}
          {% set title = 'Meal for four' %}
          {% set price = '3200' %}
          {% set ctaText = 'Buy now' %}
          {% set image = '../assets/images/c700x420-5.png' %}
        {% endembed %}
      </div>
    </div>
  </div>
</div>
