<div class="overlay-wrapper">
  <div class="voucher-info overlay-content">
    <div class="info__header">
      <h1>More Details About Voucher</h1>
      <a href="#" class="close"></a>
    </div>
    <div class="info__content">
      <div class="info">
        <h3>Timings</h3>
        <table>
          <tr>
            <td>Sunday</td>
            <td>7:30PM - 10:30PM</td>
          </tr>
          <tr>
            <td>Monday</td>
            <td>7:30PM - 10:30PM</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>7:30PM - 10:30PM</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>7:30PM - 10:30PM</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>7:30PM - 10:30PM</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>7:30PM - 10:30PM</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>7:30PM - 10:30PM</td>
          </tr>
        </table>
      </div>
      <div class="info">
        <h3>Applicable on</h3>
        <table>
          <tr>
            <td>Valid for:</td>
            <td>Dine-in</td>
          </tr>
          <tr>
            <td>Not Valid for:</td>
            <td>Takeaway, Home Delivery</td>
          </tr>
        </table>
      </div>
      <div class="info">
        <h3>Cancellation Policy</h3>
        <p>Non-Cancellable</p>
      </div>
      <div class="info">
        <h3>Not valid on</h3>
        <div class="info__valid-date">
          <dl>
            <dt>02 Oct 2019</dt>
            <dt>27 Oct 2019</dt>
            <dt>28 Oct 2019</dt>
            <dt>29 Oct 2019</dt>
            <dt>01 Nov 2019</dt>
            <dt>31 Dec 2019</dt>
            <dt>01 Jan 2020</dt>
            <dt>14 Feb 2020</dt>
            <dt>09 Mar 2020</dt>
            <dt>10 Mar 2020</dt>
          </dl>
        </div>
      </div>
      <div class="info">
        <h3>Use this within</h3>
        <p>30 days of purchase</p>
      </div>
      <div class="info">
        <h3>Things to remember</h3>
        <ul>
          <li>All offers are inclusive of taxes & service charges</li>
          <li>Prior reservation is mandatory (Upon purchase, you will receive a voucher with the reservation number)</li>
          <li>Cannot be clubbed with any other existing offers/promotions</li>
          <li>The voucher/code has to be submitted at the store reception before the services are availed</li>
          <li>Child policy:<br>
            Child below 6yrs: Free<br>
            Child between 6- 9 Yrs: Rs.481/- per child payable at the venue<br>
            Child above 9 Yrs - Separate Voucher required<br>
          </li>
          <li>Vouchers once purchased can be used only at the mentioned outlet & timings. It cannot be switched or exchanged for a different session or the outlet.</li>
          <li>Additional charges may apply on Public Holidays, Special Occasions and Festival Days</li>
          <li>No partial redemption or exchange to cash can be opted for</li>
          <li>To avail the offer, guest (100% attendance i.e. everyone in the booking) needs to occupy the table between the mentioned early bird hours</li>
          <li>North – 6.30PM to 7.30PM</li>
          <li>East – 6.30PM to 7PM</li>
          <li>South – 6.30PM to 7PM</li>
          <li>West – 7PM to 7.30PM</li>
          <li>Offer is valid as per the date mentioned as per the purchase date</li>
          <li>Open vouchers will be billed against the total invoice value - They should be presented before the bill is generated else the voucher will not be redeemed</li>
          <li>For Open Voucher: if the Final Invoice value is lesser than the voucher value, then the customer shall not be entitled to any refund/cashback of the difference amount</li>
          <li>For Open Vouchers: if the Final Invoice value exceeds voucher value, the excess amount needs to be paid by the customer to the merchant</li>
          <li>For Open Vouchers: All F&B items will be billed with Taxes in the Final Invoice, as per the regular norms for Open Voucher offers. Open vouchers will applied against the Final Invoice value only</li>
          <li>For Open Vouchers: All offers (except open vouchers) are inclusive of taxes & service charges</li>
          <li>For Open Vouchers: No refund will be given in case the amount of bill is less than the Gift Card value</li>
          <li>For Open Vouchers: Differential amount should be paid at the outlet</li>
          <li>For Open Vouchers: Get a Gift Card worth Rs.500 / Rs.1000 | Valid on buffet and drinks (including taxes)</li>
          <li>For Open Vouchers: Multiple vouchers can be used in the same bill.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
