.l-wrapper {
  margin-bottom: 48px;
  border-bottom: 1px solid $color--whisper;
}
.l-header {
  padding-bottom: 10px;
  border-bottom: 1px solid $color--whisper;
  .header__filter {
    flex: 0 0 240px;
    max-width: 240px;
    text-transform: uppercase;
    font-size: $font-size--s;
    line-height: 30px;
  }
  .header__result {
    @include bp-medium() {
      flex: 0 0 785px;
      max-width: 785px;
      padding-left: 24px;
    }
    font-size: $font-size--xl;
  }
  .header__sort {
    padding: 0 8px;
    border: 1px solid $color--primary;
    border-radius: 25px;
    line-height: 30px;
    label {
      display: inline;
    }
    select {
      padding-right: 15px;
      color: $color--tertiary;
      border: none;
      background-color: transparent;
      background-position-y: 10px;
      background-size: 8px;
      font-size: $font-size--xxs;
    }
  }
  .header__m-filter {
    display: flex;
    justify-content: space-between;
    width: 80px;
  }
  .button--m-filter {
    background: url("../assets/images/equalizer.svg");
    background-size: 20px;
  }
  .button--m-sort {
    transform: rotateX(0deg);
    background: url("../assets/images/sort-ascending.svg");
    &.button--m-sort--asc {
      background-size: 20px;
    }
    &.button--m-sort--desc {
      transform: rotateX(180deg);
    }
  }
  .row {
    @include bp-large() {
      justify-content: flex-start;
    }
    justify-content: space-between;
  }
}
.l-filter {
  @include bp-large() {
    display: block;
  }
  display: none;
  width: 240px;
  padding-top: 20px;
  border-right: 1px solid $color--whisper;
  &.l-filter--show-m {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: block;
    overflow: scroll;
    width: 100%;
    max-width: unset;
    height: 100%;
    padding: 20px;
    background: $color--white;
  }
  .clear-all-link {
    display: block;
    margin-bottom: 12px;
    padding-right: 24px;
    text-align: right;
    text-transform: uppercase;
    color: $color--feldspar;
    font-size: $font-size--xxs;
    font-weight: $font-weight--medium;
  }
  .l-filter__elem-wrap {
    position: relative;
    margin-bottom: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    &:after {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 1px;
      content: "";
      background: $color--whisper;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  .dropdown {
    width: 100%;
    margin-bottom: 12px;
    padding: 2px 10px;
  }
  .l-filter__submit {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-top: 1px solid $color--whisper;
    background: $color--white;
    > .button {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
  .checkbox-list {
    overflow: scroll;
    max-height: 360px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.l-result__view-wrap {
  @include bp-large() {
    width: 960px;
    padding-left: 20px;
  }
  width: 100%;
  padding-top: 20px;
  .l-result__view {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
  }
}
.l-filter__elem {
  > label {
    margin-bottom: 20px;
    text-transform: uppercase;
    opacity: 1;
    color: $color--black;
    font-size: $font-size--xs;
    font-weight: $font-weight--bold;
  }
}
