<hr>
<h2 class="title">Button demo</h2>

<h3>Button variants</h3>
<button>Default button</button>
<button class="button--rounded">Rounded button</button>
<button class="button--outline">Outlined button </button>
<button class="button--rounded button--outline">Outlined Rounded button </button>
<button class="button--text">Text button </button>

<h3>Link button variants</h3>
<a href="#" class="button">Default link button</a>
<a href="#" class="button button--rounded">Rounded link button</a>
<a href="#" class="button button--outline">Outlined link button</a>
<a href="#" class="button button--rounded button--outline">Rounded Outlined link button</a>
<a href="#" class="button button--text">Rounded link button</a>

<h3>CTA Links & Buttons</h3>
<a href="#" class="button button--cta">Cta button link</a>
<a href="#" class="button button--outline button--cta">Cta ouline button link</a>
<a href="#" class="button button--rounded button--cta">Cta rounded button link</a>
<a href="#" class="button button--rounded button--outline button--cta">Cta rounded outlined button link</a>

<h3>CTA Links & Buttons</h3>
<a href="#" class="cta">Cta button link</a>
<hr>