<form class="form {% if form_name %}form--{{ form_name }}{% endif %}" {% if form_id %} id="{{ form_id }}" {% endif %}>
  <div class="form__item">
    <label>Text Field</label>
    <input type="text" class="form__input" placeholder="Enter your text">
  </div>
  <div class="form__item">
    <label class="form__label-inline">Text Field</label>
    <input type="text" class="form__input" placeholder="Enter your text">
  </div>
  <div class="form__item">
    <label>Subject</label>
    <div class="form__select">
      <select class="form__input">
        <option>Select dropdown</option>
        <option>With options</option>
      </select>
    </div>
  </div>
  <div class="form__item">
    <label>Message</label>
    <textarea class="form__textarea form__input" placeholder="Textarea"></textarea>
  </div>
  <div class="form__item">
    <label class="form__checkbox">
      <input type="checkbox" class="form__checkbox form__input">
      I agree to the <a href="#">terms and conditions</a>
    </label>
  </div>
  
  <div class="form__item">
    <label class="form__radio">
      <input type="radio" class="form__input" name="question">
      Yes
    </label>
    <label class="form__radio">
      <input type="radio" class="form__input" name="question">
      No
    </label>
  </div>
  
  <div class="form__item is-grouped">
    <button class="button">Submit</button>
    <button class="button button--text">Cancel</button>
  </div>
</form>