{#<h3>Simple menu</h3>#}
{#<ul class="menu">#}
  {#<li class="menu__item">#}
    {#<a href="" class="menu__link is-active">Home</a>#}
  {#</li>#}
  {#<li class="menu__item">#}
    {#<a href="" class="menu__link">Articles</a>#}
  {#</li>#}
  {#<li class="menu__item">#}
    {#<a href="" class="menu__link">Blogs</a>#}
  {#</li>#}
  {#<li class="menu__item">#}
    {#<a href="" class="menu__link">Contact</a>#}
  {#</li>#}
{#</ul>#}


<ul class="menu">
  <li class="menu__item menu__item--expanded">
    <a href="" class="menu__link">Solution</a>
    <ul class="menu">
      <li class="menu__item menu__label">Build & Manage</li>
      <li class="menu__item"><a href="" class="menu__link">Multisite Management</a></li>
      <li class="menu__item"><a href="" class="menu__link">Cloud Development Platform</a></li>
      <li class="menu__item"><a href="" class="menu__link">Asset Management</a></li>
      <li class="menu__item menu__label">Personalize & Connect</li>
      <li class="menu__item"><a href="" class="menu__link">Data Driven Personalisation</a></li>
      <li class="menu__item"><a href="" class="menu__link">Customer Journet Orchestration</a></li>
    </ul>
  </li>
  <li class="menu__item menu__item--expanded">
    <a href="" class="menu__link">Services</a>
    <ul class="menu">
      <li class="menu__item"><a href="" class="menu__link">Strategy</a></li>
      <li class="menu__item"><a href="" class="menu__link">Design</a></li>
      <li class="menu__item"><a href="" class="menu__link">Development</a></li>
    </ul>
  </li>
  <li class="menu__item menu__item--expanded">
    <a href="" class="menu__link">About</a>
    <ul class="menu">
      <li class="menu__item"><a href="" class="menu__link">Company</a></li>
      <li class="menu__item"><a href="" class="menu__link">Team</a></li>
    </ul>
  </li>
  <li class="menu__item menu__item--expanded">
    <a href="" class="menu__link">Industries</a>
    <ul class="menu">
      <li class="menu__item"><a href="" class="menu__link">Enterprise</a></li>
      <li class="menu__item"><a href="" class="menu__link">SaaS</a></li>
      <li class="menu__item"><a href="" class="menu__link">Healthcare</a></li>
      <li class="menu__item"><a href="" class="menu__link">Real Estate</a></li>
    </ul>
  </li>
  <li class="menu__item menu__item--expanded">
    <a href="" class="menu__link">Insights</a>
    <ul class="menu">
      <li class="menu__item"><a href="" class="menu__link">Blogs</a></li>
      <li class="menu__item"><a href="" class="menu__link">Webinars</a></li>
      <li class="menu__item"><a href="" class="menu__link">Press</a></li>
    </ul>
  </li>
</ul>
