/*==========================================================================
CTA
========================================================================== */
/**/

// CTA arrow
@mixin cta() {
  &:after {
    content: "\02192";
    position: absolute;
    margin-left: .875rem;
    @include transition($transition-time--base margin ease-in-out);
  }
  &:hover {
    &:after {
      margin-left: 1rem;
    }
  }
}

button, .button{
  &.button--cta {
    position: relative;
    padding-right: $button--padding-right + 1;
    padding-left: $button--padding-left - 1;
    @include cta();
  }
}

a {
  &.cta {
    @include cta();
  }
}