// Custom Select Starts

.input {
    &--select {
      &-custom {
        position: relative;
        select {
          display: none;
        }
      }
    }
  }
  
  .select-selected {
    background-color: #ffffff;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: url('../../assets/images/down-arrow (1).svg') no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    transform: rotate(180deg);
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #364044;
    padding: 6px 0;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    font-weight: 500;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  // Custom Select Ends