.paragraph__banner-slider {
  height: 480px;

  .paragraph__content {
    @include bp-xs-small {
      width: 100%;
      padding: 0 15px;
    }

    @include bp-small {
      width: 100%;
      padding: 0 15px;
    }

    @include bp-medium {
      width: 50%;
      padding: 0;
    }

    position: relative;
    z-index: 2;
    color: $color--white;
    width: 50%;

    .paragraph__title {
      @include bp-xs-small {
        font-size: 36px;
        line-height: 1.4;
      }

      @include bp-small {
        font-size: 36px;
        line-height: 1.4;
      }

      @include bp-medium {
        font-size: 60px;
        line-height: 70px;
      }

      font-size: 60px;
      font-weight: 600;
      line-height: 70px;
      margin-bottom: 10px;
    }

    .paragraph__subtitle {
      @include bp-xs-small {
        font-size: 22px;
        line-height: 1.4;
      }

      @include bp-small {
        font-size: 22px;
        line-height: 1.4;
      }

      @include bp-medium {
        font-size: 30px;
        line-height: 48px;
      }

      font-size: 30px;
      line-height: 48px;
      font-weight: 500;
      margin-bottom: 40px;
    }

    .paragraph__cta {
      display: inline-flex;
      height: 42px;
      align-items: center;
      background: $color--primary;
      padding: 0 25px;
      border-radius: 20px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .paragraph__media {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    &::before {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(0, 0, 0, 0.3);
    }

    video {
      display: none;
    }

    &.paragraph__video {
      img {
        display: none;
      }

      video {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
