.paragraph__testimonials {
  .paragraph__testimonial-block {
    .paragraph__title {
      @include bp-xs-small {
        font-size: 18px;
      }

      font-size: 30px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .paragraph__subtitle {
      @include bp-xs-small {
        font-size: 14px;
      }

      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    .paragraph__testimonial-carousel {
      width: calc(100% + 60px); //we need more width for the shadows on the edges
      padding: 0 15px; //space for the shadows
      //   margin-left: -15px; //put the div in its original position
      margin: 0 -30px;
      overflow: hidden; //hide the overflow

      .paragraph__testimonial-section {
        &.slick-slider {
          margin-bottom: 0;
        }

        .slick-list {
          box-sizing: initial;
          padding: 30px 25px;
        }

        .slick-slide {
          &.slick-active {
            .paragraph__testimonial-card {
              box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06); //only the active slides have the shadow
            }
          }
        }

        .paragraph__testimonial-card {
          @include bp-xs-small {
            margin: 0;
            width: 100%;
          }

          border-radius: 0 0 10px 10px;
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05);
          padding: 35px 40px 80px;
          margin: 0 10px 70px;
          text-align: center;
          box-shadow: none; //no shadow for a hidden slide
          transition: box-shadow 0.1s ease-in-out; //little effect to fade the shadow

          .paragraph__testimonial-card--image {
            height: 120px;
            width: 120px;
            margin: 0 auto;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

          .paragraph__testimonial-card--content {
            opacity: 0.8;
            line-height: 24px;
            margin: 30px 0;
          }

          .paragraph__testimonial-card--name {
            font-weight: 600;
            color: $color--submit-button;
          }

          .paragraph__testimonial-card--designation {
            opacity: 0.8;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
