.voucher {
  position: relative;
  overflow: hidden;
  padding: 30px;
  border-radius: 10px;
  margin: 15px 18px;
  height: 215px;

  @include bp-xs-small() {
    width: 250px;
    padding: 20px;
    margin: 0 5px;
  }

  @include bp-medium() {
    width: auto;
    padding: 30px;
    margin: 15px 18px;
  }

  &::before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  &--details {
    position: relative;
    z-index: 1;
    color: $color--white;
    font-size: 20px;
    font-weight: 700;
    height: 100%;

    @include bp-xs-small() {
      font-size: 12px;
    }

    @include bp-large() {
      font-size: 20px;
    }

    &-title {
      font-weight: 500;
    }

    &-price {
      font-size: 26px;
      // margin-bottom: 55px;

      @include bp-xs-small() {
        // margin-bottom: 20px;
        font-size: 16px;
      }

      @include bp-medium() {
        // margin-bottom: 55px;
        font-size: 26px;
      }
    }

    &-cta {
      font-size: 14px;
      text-transform: uppercase;
      background: #fff;
      display: inline-flex;
      color: #364044;
      border-radius: 20px;
      font-weight: 500;
      position: absolute;
      bottom: 0;
      left: 0;

      @include bp-xs-small() {
        font-size: 10px;
      }

      @include bp-medium() {
        font-size: 14px;
      }

      a {
        padding: 5px 12px;
      }
    }
  }

  &--image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
